#devices
  %table.table
    %thead
      %tr
        %th MAC address
        - if for_user.nil?
          %th Owner
        %th Name
        %th Mobile
        %th Last seen
        %th
    %tbody
      - devices.each do |device|
        %tr.device[device]{data: {id: device.id}}
          %td.mac-address
            = device.mac_address_s
          - if for_user.nil?
            %td.owner
              - unless device.user.nil?
                %a.edit-hide{href: user_devices_path(device.user.uid)}= device.user.uid
              %select.form-control.edit-show{name: :owner}
                %option{value: ""} nobody
                = options_from_collection_for_select @users, :uid, :uid, device.user.nil? ? nil : device.user.uid
          %td.name
            .edit-hide= device.name
            %input.form-control.edit-show{type: :text, name: :name, value: device.name}
          %td.mobile
            - if device.mobile
              %span.glyphicon.glyphicon-ok.edit-hide
            %input.form-control.edit-show{type: :checkbox, name: :mobile, checked: device.mobile}
          %td.last-seen= time_ago_in_words device.last_seen_at
          %td.buttons
            .btn-group.btn-group-xs.edit-hide
              %button.btn.btn-default.device-edit
                %span.glyphicon.glyphicon-edit
            .btn-group.btn-group-xs.edit-show
              %button.btn.btn-default.device-submit
                %span.glyphicon.glyphicon-ok
              %button.btn.btn-default.device-cancel
                %span.glyphicon.glyphicon-remove

  = form_tag update_device_path, method: :post, id: 'form-update-device' do
    = hidden_field_tag :id
    = hidden_field_tag :owner, for_user.nil? ? "" : for_user.uid
    = hidden_field_tag :name
    = hidden_field_tag :mobile

