%h1= "#{params[:uid].capitalize}'s devices"

= form_tag update_device_path, method: :post, id: 'form-update' do
  = hidden_field_tag :uid, params[:uid]
  %table.table
    %thead
      %tr
        %th MAC address
        %th Name
        %th Last seen
        %th
    %tbody
      - @devices.each do |device|
        %tr[device]
          %td.mac-address= device.mac_address_s
          %td.name= device.name
          %td.last-seen= time_ago_in_words device.last_seen_at
          %td.buttons
            = link_to 'javascript:void(0);', onclick: "editDevice(#{device.id})" do
              %span.glyphicon.glyphicon-edit
