%h1= "#{params[:uid].capitalize}'s devices"

%table.table
  %thead
    %tr
      %th MAC address
      %th Name
      %th Last seen
  %tbody
    - @devices.each do |device|
      %tr
        %td= device.mac_address_s
        %td= device.name
        %td= device.last_seen_at

